main{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.faq-titulo{
    font-family: "Jockey One", sans-serif;
    font-size: 4rem;
    font-weight: 500;
    text-transform: uppercase;
    color: var(--accent);
    margin-top: 3rem;
    margin-bottom: 2.5rem;
    text-shadow: 0 0 2rem rgba(255, 94, 58, 0.3);

}